ion-header {
  ion-toolbar {
    --background: #ece2c6 !important;
    background: #ece2c6 !important;
    --color: #2c3e50 !important;
    border-bottom: none !important;
    box-shadow: 0 2px 12px rgba(236, 226, 198, 0.4);

    ion-title {
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: 2px;
      color: black;
    }
  }
}

.perfil-avatar {
  margin: 1rem auto 0.5rem;
  width: 120px;
  height: 120px;
  border: 3px solid var(--ion-color-primary);
}

.perfil-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  text-align: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  strong {
    font-size: 1.2rem;
    color: var(--ion-color-primary);
  }

  span {
    font-size: 0.9rem;
    color: var(--ion-color-medium);
  }
}

ion-item[color="danger"] {
  --background: var(--ion-color-danger-tint);
  color: #fff;
}
